body {
  max-width: 70%;
  margin: 0 auto;
  background-image: url("library.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: contain;
  padding-top: 20px;
}

footer {
  text-align: center;
  padding-top: 10px;
}
