.Dictionary section {
  background-color: rgb(247, 250, 235);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
  margin: 20px 0;
  color: rgb(71, 71, 88);
}

.Dictionary input {
  width: 70%;
  padding: 6px 4px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.Dictionary h1 {
  font-size: 17px;
  color: rgb(71, 71, 88);
  opacity: 0.8;
}
form {
  max-width: 340px;
  background-color: rgb(247, 250, 235);
  padding: 10px 4px;
  border-radius: 5px;
  text-align: center;
  margin: 30px auto;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
}

@media (max-width: 420px) {
  .Dictionary h1 {
    font-size: 16px;
  }
  form {
    margin-bottom: -4px;
  }
}
