.Results h2 {
  font-size: 30px;
  font-weight: bold;
  line-height: 1.5;
  text-transform: capitalize;
  font-family: "Tenor Sans", sans-serif;
  color: rgb(168, 72, 107);
}
.example {
  color: rgb(168, 72, 107);
}

.Results h3 {
  color: rgb(10, 134, 165);
  text-transform: capitalize;
  font-weight: bold;
}
@media (max-width: 4200px) {
  .Results h2 {
    font-size: 20px;
  }
}
